/*! flat.csss v[AIV]{version}[/AIV]
https://areve.github.io/flatcss/ */
/* flat-classes.scss */

$classes-all: true;
$classes-prefix: 'flat-';

@import 'core';
@import 'control-alignment';
@import 'control-styling';
@import 'general-styling';
@import 'theme';
@import 'classes';
