/*! sanitize.css v7.0.3 | CC0 License | github.com/csstools/sanitize.css */

/* Document
 * ========================================================================== */

/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add border box sizing in all browsers (opinionated).
 */

*,
::before,
::after {
  background-repeat: no-repeat; /* 1 */
  box-sizing: border-box; /* 2 */
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */

::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Use the default user interface font in all browsers (opinionated).
 * 3. Correct the line height in all browsers.
 * 4. Use a 4-space tab width in all browsers (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */

html {
  cursor: default; /* 1 */
  font-family:
    system-ui,
    /* macOS 10.11-10.12 */ -apple-system,
    /* Windows 6+ */ Segoe UI,
    /* Android 4+ */ Roboto,
    /* Ubuntu 10.10+ */ Ubuntu,
    /* Gnome 3+ */ Cantarell,
    /* KDE Plasma 4+ */ Oxygen,
    /* fallback */ sans-serif,
    /* macOS emoji */ "Apple Color Emoji",
    /* Windows emoji */ "Segoe UI Emoji",
    /* Windows emoji */ "Segoe UI Symbol",
    /* Linux emoji */ "Noto Color Emoji"; /* 2 */

  line-height: 1.15; /* 3 */
  -moz-tab-size: 4; /* 4 */
  tab-size: 4; /* 4 */
  -ms-text-size-adjust: 100%; /* 5 */
  -webkit-text-size-adjust: 100%; /* 5 */
  word-break: break-word; /* 6 */
}

/* Sections
 * ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */

/**
 * 1. Add the correct sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */

main {
  display: block;
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */

nav ol,
nav ul {
  list-style: none;
}

/**
 * 1. Use the default monospace user interface font
 *    in all browsers (opinionated).
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family:
    /* macOS 10.10+ */ Menlo,
    /* Windows 6+ */ Consolas,
    /* Android 4+ */ Roboto Mono,
    /* Ubuntu 10.10+ */ Ubuntu Monospace,
    /* KDE Plasma 4+ */ Oxygen Mono,
    /* Linux/OpenOffice fallback */ Liberation Mono,
    /* fallback */ monospace; /* 1 */

  font-size: 1em; /* 2 */
}

/* Text-level semantics
 * ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge, IE, Opera, and Safari.
 */

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Use the default monospace user interface font
 *    in all browsers (opinionated).
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family:
    /* macOS 10.10+ */ Menlo,
    /* Windows 6+ */ Consolas,
    /* Android 4+ */ Roboto Mono,
    /* Ubuntu 10.10+ */ Ubuntu Monospace,
    /* KDE Plasma 4+ */ Oxygen Mono,
    /* Linux/OpenOffice fallback */ Liberation Mono,
    /* fallback */ monospace; /* 1 */

  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/*
 * Remove the text shadow on text selections in Firefox 61- (opinionated).
 * 1. Restore the coloring undone by defining the text shadow
 *    in all browsers (opinionated).
 */

::-moz-selection {
  background-color: #b3d4fc; /* 1 */
  color: #000; /* 1 */
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc; /* 1 */
  color: #000; /* 1 */
  text-shadow: none;
}

/* Embedded content
 * ========================================================================== */

/*
 * Change the alignment on media elements in all browers (opinionated).
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */

svg {
  fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
 * ========================================================================== */

/**
 * Collapse border spacing in all browsers (opinionated).
 */

table {
  border-collapse: collapse;
}

/* Forms
 * ========================================================================== */

/**
 * Inherit styling in all browsers (opinionated).
 */

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/**
 * Remove the margin in Safari.
 */

button,
input,
select {
  margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge, Firefox, and IE.
 */

button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * Show the overflow in Edge and IE.
 */

input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */

legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in Edge and IE.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */

select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction on textareas in all browsers (opinionated).
 */

textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
  resize: vertical; /* 3 */
}

/**
 * Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* Interactive
 * ========================================================================== */

/*
 * Add the correct display in Edge and IE.
 */

details {
  display: block;
}

/*
 * Add the correct styles in Edge, IE, and Safari.
 */

dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* User interaction
 * ========================================================================== */

/*
 * 1. Remove the tapping delay on clickable elements
      in all browsers (opinionated).
 * 2. Remove the tapping delay in IE 10.
 */

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation; /* 1 */
  touch-action: manipulation; /* 2 */
}

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

/* Accessibility
 * ========================================================================== */

/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */

[aria-busy="true"] {
  cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */

[aria-controls] {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */

[aria-disabled],
[disabled] {
  cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}

/*! flat.css v1.0.18 https://areve.github.io/flatcss/ */
/* flat-default.scss */
/* _unsanitize.scss */
nav ol,
nav ul {
  list-style: initial; }

/* _core.scss */
/* _control-alignment.scss */
select,
output,
progress,
meter,
textarea,
input {
  vertical-align: baseline;
  margin-top: 0.15em;
  margin-bottom: 0.15em;
  display: inline-block;
  position: relative;
  height: 2em;
  padding: 0 0.3em; }

input[type=file] {
  vertical-align: middle;
  margin-top: 0.15em;
  margin-bottom: 0.15em; }

input[type=color], input[type=range] {
  height: 1.875em;
  vertical-align: middle;
  margin-top: 0.085em;
  margin-bottom: 0.34em; }

input[type=image] {
  vertical-align: middle;
  margin-top: 0.15em;
  margin-bottom: 0.15em; }

input[type=checkbox], input[type=radio] {
  height: 1.5em;
  width: 1.5em;
  vertical-align: middle;
  margin-top: 0.4em;
  margin-bottom: 0.4em; }


progress {
  vertical-align: middle;
  margin-top: 0.15em;
  margin-bottom: 0.15em; }


meter {
  vertical-align: middle;
  margin-top: 0.15em;
  margin-bottom: 0.15em; }


output {
  vertical-align: middle;
  margin-top: 0.15em;
  margin-bottom: 0.15em;
  line-height: 1.9em; }

label {
  vertical-align: baseline;
  margin-top: 0.15em;
  margin-bottom: 0.15em;
  display: inline-block;
  min-height: 2em; }

label.button {
  vertical-align: bottom;
  margin-top: 0.15em;
  margin-bottom: 0.15em; }

select, input[type=file],
input[type=submit],
input[type=reset],
input[type=button],
button,
.button {
  vertical-align: baseline;
  margin-top: 0.15em;
  margin-bottom: 0.15em;
  display: inline-block;
  min-height: 2em;
  line-height: 2em;
  position: relative; }

/* _control-styling.scss */
select,
output,
meter,
textarea,
input {
  border: 1px solid #ccc;
  background-color: #fcfcfc;
  color: #111; }
  select[disabled],
  output[disabled],
  meter[disabled],
  textarea[disabled],
  input[disabled] {
    background-color: #e8e8e8;
    color: #606060; }
  select[readonly],
  output[readonly],
  meter[readonly],
  textarea[readonly],
  input[readonly] {
    background-color: #f0f0f0;
    color: #404040; }

textarea:optional,
input:optional {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(0,138,0,0)'><path d='M13 26l-10-10.598 2.798-2.859 7.149 7.473 13.144-14.016 2.909 2.806z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1em;
  background-color: #fcfcfc;
  background-position: calc(100% - .5em) 0.5em;
  border-left-width: 1px;
  border-left-color: #ccc;
  text-indent: 2px; }

textarea[minlength], textarea[maxlength], textarea[max], textarea[min], textarea[pattern], textarea:required,
input[minlength],
input[maxlength],
input[max],
input[min],
input[pattern],
input:required {
  border-left: 3px solid;
  border-left-color: #008A00;
  text-indent: 0;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(0,138,0,1)'><path d='M13 26l-10-10.598 2.798-2.859 7.149 7.473 13.144-14.016 2.909 2.806z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1em;
  background-color: #fcfcfc;
  background-position: calc(100% - .5em) 0.5em; }
  textarea[minlength]:focus:valid, textarea[maxlength]:focus:valid, textarea[max]:focus:valid, textarea[min]:focus:valid, textarea[pattern]:focus:valid, textarea:required:focus:valid,
  input[minlength]:focus:valid,
  input[maxlength]:focus:valid,
  input[max]:focus:valid,
  input[min]:focus:valid,
  input[pattern]:focus:valid,
  input:required:focus:valid {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(0,138,0,0.5)'><path d='M13 26l-10-10.598 2.798-2.859 7.149 7.473 13.144-14.016 2.909 2.806z'/></svg>");
    background-repeat: no-repeat;
    background-size: 1em;
    background-color: #fcfcfc;
    background-position: calc(100% - .5em) 0.5em; }
  textarea[minlength]:focus:invalid, textarea[maxlength]:focus:invalid, textarea[max]:focus:invalid, textarea[min]:focus:invalid, textarea[pattern]:focus:invalid, textarea:required:focus:invalid,
  input[minlength]:focus:invalid,
  input[maxlength]:focus:invalid,
  input[max]:focus:invalid,
  input[min]:focus:invalid,
  input[pattern]:focus:invalid,
  input:required:focus:invalid {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='rgba(235,0,0,0.4)' width='32' height='32'><path d='M27 24.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z'/></svg>");
    background-repeat: no-repeat;
    background-size: 1em;
    background-color: #fcfcfc;
    background-position: calc(100% - .5em) 0.5em; }

textarea:invalid,
input:invalid {
  border-left: 3px solid;
  border-left-color: #EB0000;
  text-indent: 0;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='rgba(235,0,0,0.6)' width='32' height='32'><path d='M27 24.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1em;
  background-color: #fcfcfc;
  background-position: calc(100% - .5em) 0.5em; }

input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=number],
input[type=search] {
  background-image: none; }
  input[type=date]:focus:valid,
  input[type=month]:focus:valid,
  input[type=week]:focus:valid,
  input[type=time]:focus:valid,
  input[type=number]:focus:valid,
  input[type=search]:focus:valid {
    background-image: none; }
  input[type=date]:focus:invalid,
  input[type=month]:focus:invalid,
  input[type=week]:focus:invalid,
  input[type=time]:focus:invalid,
  input[type=number]:focus:invalid,
  input[type=search]:focus:invalid {
    background-image: none; }
  input[type=date]:optional,
  input[type=month]:optional,
  input[type=week]:optional,
  input[type=time]:optional,
  input[type=number]:optional,
  input[type=search]:optional {
    background-position: calc(100% - 2em) 0.5em; }
  input[type=date]:invalid,
  input[type=month]:invalid,
  input[type=week]:invalid,
  input[type=time]:invalid,
  input[type=number]:invalid,
  input[type=search]:invalid {
    background-image: none; }


textarea,
input[type=text],
input[type=search], input[type=range],
input[type=tel],
input[type=url], input[type=color],
input[type=email],
input[type=password],
input[type=local],
input[type=month],
input[type=week], input[type=date],
input:not([type]) {
  width: 12em; }


input[type=time],
input[type=number] {
  width: 6em; }

input[type=file] {
  border: none;
  padding: 0; }

input[type=image] {
  padding: 0;
  max-width: 100%;
  height: auto;
  cursor: default; }
  input[type=image]:focus, input[type=image]:active, input[type=image]:hover:not([disabled]) {
    -webkit-filter: brightness(110%);
            filter: brightness(110%); }
  input[type=image][disabled] {
    -webkit-filter: grayscale(85%);
            filter: grayscale(85%); }


output {
  background-color: #eed; }


textarea {
  display: block;
  height: 6em; }


input[type=submit],
input[type=reset],
input[type=button],
button,
.button {
  border-style: none;
  background-color: #eee;
  color: #111;
  padding: 0 0.9em;
  text-decoration: none; }
  input[type=submit]:focus, input[type=submit]:active, input[type=submit]:hover:not([disabled]),
  input[type=reset]:focus,
  input[type=reset]:active,
  input[type=reset]:hover:not([disabled]),
  input[type=button]:focus,
  input[type=button]:active,
  input[type=button]:hover:not([disabled]),
  button:focus,
  .button:focus,
  button:active,
  .button:active,
  button:hover:not([disabled]),
  .button:hover:not([disabled]) {
    -webkit-filter: brightness(95%);
            filter: brightness(95%);
    text-decoration: none;
    cursor: default; }

input[type=button][disabled],
button[disabled],
.button[disabled] {
  background-color: #e0e0e0;
  color: #606060; }

button:not([type]):not(.standard):not(.negative),
button[type=submit]:not(.standard):not(.negative),
.button[type=submit]:not(.standard):not(.negative),
input[type=submit]:not(.standard):not(.negative),
button.primary,
.button.primary,
button.primary[type=reset],
.button.primary[type=reset],
input.primary[type=reset],
input.primary[type=button] {
  background-color: #0074d9;
  color: #fff; }
  button:not([type]):not(.standard):not(.negative)[disabled],
  button[type=submit]:not(.standard):not(.negative)[disabled],
  .button[type=submit]:not(.standard):not(.negative)[disabled],
  input[type=submit]:not(.standard):not(.negative)[disabled],
  button.primary[disabled],
  .button.primary[disabled],
  button.primary[type=reset][disabled],
  .button.primary[type=reset][disabled],
  input.primary[type=reset][disabled],
  input.primary[type=button][disabled] {
    background-color: #7597b4;
    color: #eaeaea; }
  button:not([type]):not(.standard):not(.negative):focus, button:not([type]):not(.standard):not(.negative):active, button:not([type]):not(.standard):not(.negative):hover:not([disabled]),
  button[type=submit]:not(.standard):not(.negative):focus,
  .button[type=submit]:not(.standard):not(.negative):focus,
  button[type=submit]:not(.standard):not(.negative):active,
  .button[type=submit]:not(.standard):not(.negative):active,
  button[type=submit]:not(.standard):not(.negative):hover:not([disabled]),
  .button[type=submit]:not(.standard):not(.negative):hover:not([disabled]),
  input[type=submit]:not(.standard):not(.negative):focus,
  input[type=submit]:not(.standard):not(.negative):active,
  input[type=submit]:not(.standard):not(.negative):hover:not([disabled]),
  button.primary:focus,
  .button.primary:focus,
  button.primary:active,
  .button.primary:active,
  button.primary:hover:not([disabled]),
  .button.primary:hover:not([disabled]),
  button.primary[type=reset]:focus,
  .button.primary[type=reset]:focus,
  button.primary[type=reset]:active,
  .button.primary[type=reset]:active,
  button.primary[type=reset]:hover:not([disabled]),
  .button.primary[type=reset]:hover:not([disabled]),
  input.primary[type=reset]:focus,
  input.primary[type=reset]:active,
  input.primary[type=reset]:hover:not([disabled]),
  input.primary[type=button]:focus,
  input.primary[type=button]:active,
  input.primary[type=button]:hover:not([disabled]) {
    -webkit-filter: brightness(130%);
            filter: brightness(130%); }

button[type=reset]:not(.standard):not(.primary), .button[type=reset]:not(.standard):not(.primary),
input[type=reset]:not(.standard):not(.primary),
button.negative,
.button.negative,
input.negative[type=submit],
input.negative[type=button] {
  background-color: #D64300;
  color: #fff; }
  button[type=reset]:not(.standard):not(.primary)[disabled], .button[type=reset]:not(.standard):not(.primary)[disabled],
  input[type=reset]:not(.standard):not(.primary)[disabled],
  button.negative[disabled],
  .button.negative[disabled],
  input.negative[type=submit][disabled],
  input.negative[type=button][disabled] {
    background-color: #b38875;
    color: #eaeaea; }
  button[type=reset]:not(.standard):not(.primary):focus, .button[type=reset]:not(.standard):not(.primary):focus, button[type=reset]:not(.standard):not(.primary):active, .button[type=reset]:not(.standard):not(.primary):active, button[type=reset]:not(.standard):not(.primary):hover:not([disabled]), .button[type=reset]:not(.standard):not(.primary):hover:not([disabled]),
  input[type=reset]:not(.standard):not(.primary):focus,
  input[type=reset]:not(.standard):not(.primary):active,
  input[type=reset]:not(.standard):not(.primary):hover:not([disabled]),
  button.negative:focus,
  .button.negative:focus,
  button.negative:active,
  .button.negative:active,
  button.negative:hover:not([disabled]),
  .button.negative:hover:not([disabled]),
  input.negative[type=submit]:focus,
  input.negative[type=submit]:active,
  input.negative[type=submit]:hover:not([disabled]),
  input.negative[type=button]:focus,
  input.negative[type=button]:active,
  input.negative[type=button]:hover:not([disabled]) {
    -webkit-filter: brightness(130%);
            filter: brightness(130%); }


input.button[type=reset],
input.button[type=submit] {
  background-color: #eee;
  color: #111; }
  
  input.button[type=reset][disabled],
  input.button[type=submit][disabled] {
    background-color: #e0e0e0;
    color: #606060; }
  
  input.button[type=reset]:focus,
  input.button[type=reset]:active,
  input.button[type=reset]:hover:not([disabled]),
  input.button[type=submit]:focus,
  input.button[type=submit]:active,
  input.button[type=submit]:hover:not([disabled]) {
    -webkit-filter: brightness(95%);
            filter: brightness(95%); }

input[type=checkbox], input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  line-height: 0;
  border: 0;
  position: relative;
  top: -0.125em; }
  input[type=checkbox]:before,
  input[type=radio]:before {
    position: absolute;
    content: ' ';
    background-color: #fcfcfc;
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    overflow: hidden;
    border: 1px solid #ccc; }
  input[type=checkbox]:hover:not([disabled]):before,
  input[type=radio]:hover:not([disabled]):before {
    -webkit-filter: brightness(95%);
            filter: brightness(95%); }
  input[type=checkbox][disabled]:before,
  input[type=radio][disabled]:before {
    background-color: #e8e8e8; }
  input[type=checkbox][readonly]:before,
  input[type=radio][readonly]:before {
    background-color: #f0f0f0; }

input[type=checkbox]::before {
  background-position: 50% 50%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(17,17,17,0)'><path d='M13 26l-10-10.598 2.798-2.859 7.149 7.473 13.144-14.016 2.909 2.806z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1em; }

input[type=checkbox]:required:before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='rgba(235,0,0,0.6)' width='32' height='32'><path d='M27 24.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1em; }

input[type=checkbox]:checked::before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(17,17,17,1)'><path d='M13 26l-10-10.598 2.798-2.859 7.149 7.473 13.144-14.016 2.909 2.806z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1em; }

input[type=checkbox]:required:checked::before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(0,138,0,1)'><path d='M13 26l-10-10.598 2.798-2.859 7.149 7.473 13.144-14.016 2.909 2.806z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1em; }

input[type=checkbox][disabled]:before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(96,96,96,1)'><path d='M13 26l-10-10.598 2.798-2.859 7.149 7.473 13.144-14.016 2.909 2.806z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1em; }

input[type=checkbox][disabled]:required:before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(106,146,106,1)'><path d='M13 26l-10-10.598 2.798-2.859 7.149 7.473 13.144-14.016 2.909 2.806z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1em; }

input[type=checkbox][readonly]:required:before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(77,129,77,1)'><path d='M13 26l-10-10.598 2.798-2.859 7.149 7.473 13.144-14.016 2.909 2.806z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1em; }

input[type=radio] {
  border-radius: 50%; }
  input[type=radio]::before {
    border-radius: 50%;
    background-position: 50% 50%;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(17,17,17,0)'><circle cx='16' cy='16' r='14'/></svg>");
    background-repeat: no-repeat;
    background-size: 1em; }
  input[type=radio]:checked::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(17,17,17,1)'><circle cx='16' cy='16' r='14'/></svg>");
    background-repeat: no-repeat;
    background-size: 1em; }
  input[type=radio]:required:checked:before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(0,138,0,1)'><circle cx='16' cy='16' r='14'/></svg>");
    background-repeat: no-repeat;
    background-size: 1em; }
  
  input[type=radio][disabled]:before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(96,96,96,1)'><circle cx='16' cy='16' r='14'/></svg>");
    background-repeat: no-repeat;
    background-size: 1em; }
  input[type=radio][disabled]:required:before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(106,146,106,1)'><circle cx='16' cy='16' r='14'/></svg>");
    background-repeat: no-repeat;
    background-size: 1em; }
  input[type=radio][readonly]:required:before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(77,129,77,1)'><circle cx='16' cy='16' r='14'/></svg>");
    background-repeat: no-repeat;
    background-size: 1em; }

input[type=color] {
  -webkit-appearance: none;
  padding: 5px;
  width: 1.875em;
  height: 1.875em;
  background-color: #fcfcfc; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type=color] {
      padding: 1px 3px; } }
  input[type=color][disabled] {
    background-color: #e8e8e8; }
  input[type=color][readonly] {
    background-color: #f0f0f0; }
  input[type=color]:focus, input[type=color]:hover:not([disabled]):not([readonly]) {
    -webkit-filter: brightness(95%);
            filter: brightness(95%); }

input[type=range] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 12em;
  background-color: #fcfcfc; }
  input[type=range][disabled], input[type=range][readonly] {
    opacity: .5; }
  input[type=range]:active::-webkit-slider-thumb, input[type=range]:hover:not([disabled])::-webkit-slider-thumb {
    -webkit-filter: brightness(130%);
            filter: brightness(130%); }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #0074d9;
    height: 1.5em;
    width: 1.5em; }
  input[type=range]::-moz-range-track {
    background-color: transparent;
    border: none; }
  input[type=range]:active::-moz-range-thumb, input[type=range]:hover:not([disabled])::-moz-range-thumb {
    filter: brightness(110%); }
  input[type=range]::-moz-range-thumb {
    background-color: #0074d9;
    border: none;
    height: 1.5em;
    width: 1.5em; }
  input[type=range]::-ms-track {
    background-color: transparent;
    border: none;
    color: transparent; }
  input[type=range]:active::-ms-thumb, input[type=range]:hover:not([disabled])::-ms-thumb {
    filter: brightness(110%); }
  input[type=range]::-ms-thumb {
    appearance: none;
    background-color: #0074d9;
    height: 1.2em;
    width: 1.2em; }
  input[type=range]::-ms-fill-lower {
    background-color: transparent;
    border: none; }
  input[type=range]::-ms-fill-upper {
    background-color: transparent;
    border: none; }


progress {
  width: 12em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  color: #0074d9; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    
    progress {
      border: none; } }
  progress[value]::-moz-progress-bar {
    background-color: #0074d9; }
  progress[value]::-webkit-progress-bar {
    background-color: #fcfcfc;
    border: 1px solid #ccc; }
  progress[value]::-webkit-progress-value {
    background-color: #0074d9; }


meter {
  -webkit-appearance: meter;
  border: 0;
  padding: 0px;
  border-radius: 0;
  background-color: #ccc;
  width: 12em; }

select {
  border-style: none;
  background-color: #eee;
  color: #111;
  padding: 0 0.9em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(0,0,0,0.5)'><path d='M4 10l 0 0 24 0 -12 12z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: calc(100% - .5em) 50%;
  background-repeat: no-repeat;
  background-color: #eee;
  padding-right: 2em;
  border-left: 3px solid;
  border-left-color: transparent;
  text-indent: 0; }
  select:active, select:hover:not([disabled]) {
    -webkit-filter: brightness(95%);
            filter: brightness(95%); }
  select[disabled] {
    background-color: #e0e0e0;
    color: #606060; }
  select:required {
    border-left: 3px solid;
    border-left-color: #008A00;
    text-indent: 0; }
  select:invalid {
    border-left: 3px solid;
    border-left-color: #EB0000;
    text-indent: 0; }

input[type=file]::-webkit-file-upload-button {
  border-style: none;
  background-color: #eee;
  color: #111;
  padding: 0 0.9em;
  position: relative;
  border-left: 3px solid;
  border-left-color: transparent;
  text-indent: 0; }

input[type=file]:active::-webkit-file-upload-button, input[type=file]:hover:not([disabled])::-webkit-file-upload-button {
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
  text-decoration: none;
  cursor: default; }

input[type=file][disabled]::-webkit-file-upload-button {
  cursor: not-allowed;
  background-color: #e0e0e0;
  color: #606060; }

input[type=file]:required::-webkit-file-upload-button {
  border-left: 3px solid;
  border-left-color: #008A00;
  text-indent: 0; }

input[type=file]:invalid::-webkit-file-upload-button {
  border-left: 3px solid;
  border-left-color: #EB0000;
  text-indent: 0; }

label.button {
  position: relative;
  overflow: hidden; }
  label.button [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0; }

/* _general-styling.scss */
html {
  font-size: 16px; }

body {
  line-height: 1.6em;
  background-color: #fff;
  color: #111; }

h1 {
  font-size: 2em;
  line-height: 1.2em; }

h2 {
  font-size: 1.5em;
  line-height: 1.2em; }

h3 {
  font-size: 1.17em;
  line-height: 1.2em; }

h4 {
  font-size: 1em;
  line-height: 1.2em; }

h5 {
  font-size: 0.83em;
  line-height: 1.2em; }

h6 {
  font-size: 0.67em;
  line-height: 1.2em; }

p, pre, address, blockquote {
  margin: 1em 0; }

pre {
  padding: 1em 1.5em;
  background-color: #eed; }
  pre code {
    padding: 0; }

blockquote, address {
  padding: 1em 1.5em;
  font-style: italic; }

ul, ol {
  margin: 1em 0;
  padding-left: 3em; }

dl {
  margin: 1em 0; }

dt, dd {
  margin: 1em 0;
  padding-left: 1.5em; }
  dt + dd, dd + dd {
    margin-top: -1em; }

dt {
  font-weight: bold; }

figure {
  margin: 1em 0;
  border: 1px solid #ccc;
  padding: 1em;
  overflow-x: auto; }

figcaption {
  font-style: italic; }

hr {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-width: 0 0 1px 0; }

q {
  font-style: italic; }

del {
  color: #EB0000; }

ins {
  color: #008A00; }

code, var, samp, kbd, tt {
  padding: 0.1em 0.3em;
  background-color: #eed; }

samp, kbd, var {
  background-color: #9cf; }

mark {
  padding: 0.1em 0.3em;
  background-color: #ff0; }

table {
  margin: 1em 0;
  background-color: #f2f2f2; }

caption {
  margin-bottom: 0.5em; }

td,
th {
  padding: 0.3em 0.9em;
  vertical-align: top; }

tr:nth-child(odd) {
  background-color: #fff; }


th {
  background-color: #ddd;
  color: #000;
  text-align: left; }

img, picture, canvas, video, object, embed, iframe {
  max-width: 100%;
  height: auto; }

a {
  display: inline-block; }
  a > img:focus, a > img:active, a > img:hover:not([disabled]),
  a > canvas:focus,
  a > canvas:active,
  a > canvas:hover:not([disabled]),
  a > picture:focus,
  a > picture:active,
  a > picture:hover:not([disabled]) {
    -webkit-filter: brightness(110%);
            filter: brightness(110%); }

iframe {
  border: none; }

audio {
  max-width: 100%; }

noscript {
  margin: 1em 0; }

fieldset {
  margin: 1em 0;
  border-style: none;
  padding: 0;
  padding-top: 1em; }

legend {
  padding: 0; }

details {
  margin: 1em 0; }

summary {
  margin: 1em 0; }

/* _theme.scss */
a {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #0074d9;
  text-decoration: none; }
  a:active, a:hover {
    text-decoration: underline; }
  a:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 4px rgba(0, 116, 217, 0.5);
            box-shadow: 0 0 0 4px rgba(0, 116, 217, 0.5);
    z-index: 1; }
    @supports (-ms-ime-align: auto) {
      a:focus {
        -webkit-box-shadow: none;
                box-shadow: none;
        outline: 4px solid rgba(0, 116, 217, 0.5); } }


input[type=submit],
input[type=reset],
input[type=button], select,
button,
.button {
  border-radius: 0.33333em;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3); }
  input[type=submit]:focus,
  input[type=reset]:focus,
  input[type=button]:focus,
  select:focus,
  button:focus,
  .button:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 4px rgba(0, 116, 217, 0.5);
            box-shadow: 0 0 0 4px rgba(0, 116, 217, 0.5);
    z-index: 1; }
    @supports (-ms-ime-align: auto) {
      input[type=submit]:focus,
      input[type=reset]:focus,
      input[type=button]:focus,
      select:focus,
      button:focus,
      .button:focus {
        -webkit-box-shadow: none;
                box-shadow: none;
        outline: 4px solid rgba(0, 116, 217, 0.5); } }

label.button:focus-within {
  outline: none;
  -webkit-box-shadow: 0 0 0 4px rgba(0, 116, 217, 0.5);
          box-shadow: 0 0 0 4px rgba(0, 116, 217, 0.5);
  z-index: 1;
  -webkit-filter: brightness(110%);
          filter: brightness(110%); }
  @supports (-ms-ime-align: auto) {
    label.button:focus-within {
      -webkit-box-shadow: none;
              box-shadow: none;
      outline: 4px solid rgba(0, 116, 217, 0.5); } }

input[type=file]::-webkit-file-upload-button {
  border-radius: 0.33333em;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  background-color: #eee;
  color: #111; }

input[type=file]:focus::-webkit-file-upload-button {
  -webkit-filter: brightness(95%);
          filter: brightness(95%); }

input[type=range]::-webkit-slider-thumb {
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 0.33333em;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3); }

input[type=range]::-moz-range-thumb {
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 0.33333em;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3); }

input[type=range]::-ms-thumb {
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 0.33333em;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3); }


output,
meter,
textarea,
input {
  border-radius: 0.33333em;
  -webkit-transition: all .3s;
  transition: all .3s; }
  output:focus,
  meter:focus,
  textarea:focus,
  input:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 4px rgba(0, 116, 217, 0.5);
            box-shadow: 0 0 0 4px rgba(0, 116, 217, 0.5);
    z-index: 1; }
    @supports (-ms-ime-align: auto) {
      output:focus,
      meter:focus,
      textarea:focus,
      input:focus {
        -webkit-box-shadow: none;
                box-shadow: none;
        outline: 4px solid rgba(0, 116, 217, 0.5); } }

input[type=image], input[type=color] {
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3); }

input[type=checkbox], input[type=radio], input[type=image] {
  -webkit-transition: all .3s;
  transition: all .3s; }
  input[type=checkbox]:focus,
  input[type=radio]:focus, input[type=image]:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 4px rgba(0, 116, 217, 0.5);
            box-shadow: 0 0 0 4px rgba(0, 116, 217, 0.5);
    z-index: 1; }
    @supports (-ms-ime-align: auto) {
      input[type=checkbox]:focus,
      input[type=radio]:focus, input[type=image]:focus {
        -webkit-box-shadow: none;
                box-shadow: none;
        outline: 4px solid rgba(0, 116, 217, 0.5); } }

input[type=checkbox]:before,
input[type=checkbox]:after,
input[type=radio]:before,
input[type=radio]:after {
  -webkit-transition: all .3s;
  transition: all .3s; }

progress[value]::-moz-progress-bar {
  border-radius: 0.33333em; }

progress[value]::-webkit-progress-bar {
  border-radius: 0.33333em; }

progress[value]::-webkit-progress-value {
  border-radius: 0.33333em; }

input[type=image][value]::-moz-progress-bar {
  -webkit-transition: all .3s;
  transition: all .3s; }

input[type=image][value]::-webkit-progress-bar {
  -webkit-transition: all .3s;
  transition: all .3s; }

pre, code, var, samp, kbd, tt, mark {
  border-radius: 0.33333em; }

figure {
  border-radius: 0.33333em;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3); }

figcaption {
  margin-bottom: 1em; }

blockquote, address {
  font-style: italic; }

body {
  background-color: #fff;
  color: #111;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  max-width: 960px;
  margin: auto;
  padding: 3em 3%; }

fieldset {
  border-radius: 0.33333em;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  padding: 1em;
  border: 1px solid #ccc; }

legend {
  border-radius: 0.33333em;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0.1em 0.3em; }

table {
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.12); }


th {
  background-color: #d9edff; }

/* _tags.scss */
/* _classes.scss */

