/*! flat.csss v1.0.21
https://areve.github.io/flatcss/ */
/* flat-classes.scss */
/* _core.scss */
/* _control-alignment.scss */
.flat-select,
.flat-output,
.flat-progress,
.flat-meter,
.flat-textarea,
.flat-input[type=checkbox],
.flat-input[type=radio],
.flat-input[type=text],
.flat-input[type=search],
.flat-input[type=range],
.flat-input[type=tel],
.flat-input[type=url],
.flat-input[type=color],
.flat-input[type=email],
.flat-input[type=password],
.flat-input[type=date],
.flat-input[type=month],
.flat-input[type=week],
.flat-input[type=time],
.flat-input[type=local],
.flat-input[type=number],
.flat-input[type=file],
.flat-input:not([type]) {
  vertical-align: baseline;
  margin-top: 0.15em;
  margin-bottom: 0.15em;
  display: inline-block;
  position: relative;
  height: 2em;
  padding: 0 0.3em; }


.flat-input[type=file] {
  vertical-align: middle;
  margin-top: 0.15em;
  margin-bottom: 0.15em; }


.flat-input[type=color],
.flat-input[type=range] {
  height: 1.875em;
  vertical-align: middle;
  margin-top: 0.085em;
  margin-bottom: 0.34em; }

.flat-input[type=image] {
  vertical-align: middle;
  margin-top: 0.15em;
  margin-bottom: 0.15em; }


.flat-input[type=checkbox],
.flat-input[type=radio] {
  height: 1.5em;
  width: 1.5em;
  vertical-align: middle;
  margin-top: 0.4em;
  margin-bottom: 0.4em; }


.flat-progress {
  vertical-align: middle;
  margin-top: 0.15em;
  margin-bottom: 0.15em; }


.flat-meter {
  vertical-align: middle;
  margin-top: 0.15em;
  margin-bottom: 0.15em; }


.flat-output {
  vertical-align: middle;
  margin-top: 0.15em;
  margin-bottom: 0.15em;
  line-height: 1.9em; }

.flat-label {
  vertical-align: baseline;
  margin-top: 0.15em;
  margin-bottom: 0.15em;
  display: inline-block;
  min-height: 2em; }

.flat-label.flat-button {
  vertical-align: bottom;
  margin-top: 0.15em;
  margin-bottom: 0.15em; }

.flat-select,
.flat-input[type=file],
.flat-input[type=submit],
.flat-input[type=reset],
.flat-input[type=button],
.flat-button {
  vertical-align: baseline;
  margin-top: 0.15em;
  margin-bottom: 0.15em;
  display: inline-block;
  min-height: 2em;
  line-height: 2em;
  position: relative; }

/* _control-styling.scss */
.flat-select,
.flat-output,
.flat-meter,
.flat-textarea,
.flat-input[type=checkbox],
.flat-input[type=radio],
.flat-input[type=text],
.flat-input[type=search],
.flat-input[type=range],
.flat-input[type=tel],
.flat-input[type=url],
.flat-input[type=color],
.flat-input[type=email],
.flat-input[type=password],
.flat-input[type=date],
.flat-input[type=month],
.flat-input[type=week],
.flat-input[type=time],
.flat-input[type=local],
.flat-input[type=number],
.flat-input[type=file],
.flat-input:not([type]) {
  border: 1px solid #ccc;
  background-color: #fcfcfc;
  color: #111; }
  .flat-select[disabled],
  .flat-output[disabled],
  .flat-meter[disabled],
  .flat-textarea[disabled],
  .flat-input[type=checkbox][disabled],
  .flat-input[type=radio][disabled],
  .flat-input[type=text][disabled],
  .flat-input[type=search][disabled],
  .flat-input[type=range][disabled],
  .flat-input[type=tel][disabled],
  .flat-input[type=url][disabled],
  .flat-input[type=color][disabled],
  .flat-input[type=email][disabled],
  .flat-input[type=password][disabled],
  .flat-input[type=date][disabled],
  .flat-input[type=month][disabled],
  .flat-input[type=week][disabled],
  .flat-input[type=time][disabled],
  .flat-input[type=local][disabled],
  .flat-input[type=number][disabled],
  .flat-input[type=file][disabled],
  .flat-input:not([type])[disabled] {
    background-color: #e8e8e8;
    color: #606060; }
  .flat-select[readonly],
  .flat-output[readonly],
  .flat-meter[readonly],
  .flat-textarea[readonly],
  .flat-input[type=checkbox][readonly],
  .flat-input[type=radio][readonly],
  .flat-input[type=text][readonly],
  .flat-input[type=search][readonly],
  .flat-input[type=range][readonly],
  .flat-input[type=tel][readonly],
  .flat-input[type=url][readonly],
  .flat-input[type=color][readonly],
  .flat-input[type=email][readonly],
  .flat-input[type=password][readonly],
  .flat-input[type=date][readonly],
  .flat-input[type=month][readonly],
  .flat-input[type=week][readonly],
  .flat-input[type=time][readonly],
  .flat-input[type=local][readonly],
  .flat-input[type=number][readonly],
  .flat-input[type=file][readonly],
  .flat-input:not([type])[readonly] {
    background-color: #f0f0f0;
    color: #404040; }

.flat-textarea:optional,
.flat-input[type=date]:optional,
.flat-input[type=month]:optional,
.flat-input[type=week]:optional,
.flat-input[type=time]:optional,
.flat-input[type=number]:optional,
.flat-input[type=tel]:optional,
.flat-input[type=url]:optional,
.flat-input[type=text]:optional,
.flat-input[type=search]:optional,
.flat-input[type=email]:optional,
.flat-input[type=password]:optional,
.flat-input[type=local]:optional,
.flat-input:not([type]):optional {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(0,138,0,0)'><path d='M13 26l-10-10.598 2.798-2.859 7.149 7.473 13.144-14.016 2.909 2.806z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1em;
  background-color: #fcfcfc;
  background-position: calc(100% - .5em) 0.5em;
  border-left-width: 1px;
  border-left-color: #ccc;
  text-indent: 2px; }

.flat-textarea[minlength], .flat-textarea[maxlength], .flat-textarea[max], .flat-textarea[min], .flat-textarea[pattern], .flat-textarea:required,
.flat-input[type=date][minlength],
.flat-input[type=date][maxlength],
.flat-input[type=date][max],
.flat-input[type=date][min],
.flat-input[type=date][pattern],
.flat-input[type=date]:required,
.flat-input[type=month][minlength],
.flat-input[type=month][maxlength],
.flat-input[type=month][max],
.flat-input[type=month][min],
.flat-input[type=month][pattern],
.flat-input[type=month]:required,
.flat-input[type=week][minlength],
.flat-input[type=week][maxlength],
.flat-input[type=week][max],
.flat-input[type=week][min],
.flat-input[type=week][pattern],
.flat-input[type=week]:required,
.flat-input[type=time][minlength],
.flat-input[type=time][maxlength],
.flat-input[type=time][max],
.flat-input[type=time][min],
.flat-input[type=time][pattern],
.flat-input[type=time]:required,
.flat-input[type=number][minlength],
.flat-input[type=number][maxlength],
.flat-input[type=number][max],
.flat-input[type=number][min],
.flat-input[type=number][pattern],
.flat-input[type=number]:required,
.flat-input[type=tel][minlength],
.flat-input[type=tel][maxlength],
.flat-input[type=tel][max],
.flat-input[type=tel][min],
.flat-input[type=tel][pattern],
.flat-input[type=tel]:required,
.flat-input[type=url][minlength],
.flat-input[type=url][maxlength],
.flat-input[type=url][max],
.flat-input[type=url][min],
.flat-input[type=url][pattern],
.flat-input[type=url]:required,
.flat-input[type=text][minlength],
.flat-input[type=text][maxlength],
.flat-input[type=text][max],
.flat-input[type=text][min],
.flat-input[type=text][pattern],
.flat-input[type=text]:required,
.flat-input[type=search][minlength],
.flat-input[type=search][maxlength],
.flat-input[type=search][max],
.flat-input[type=search][min],
.flat-input[type=search][pattern],
.flat-input[type=search]:required,
.flat-input[type=email][minlength],
.flat-input[type=email][maxlength],
.flat-input[type=email][max],
.flat-input[type=email][min],
.flat-input[type=email][pattern],
.flat-input[type=email]:required,
.flat-input[type=password][minlength],
.flat-input[type=password][maxlength],
.flat-input[type=password][max],
.flat-input[type=password][min],
.flat-input[type=password][pattern],
.flat-input[type=password]:required,
.flat-input[type=local][minlength],
.flat-input[type=local][maxlength],
.flat-input[type=local][max],
.flat-input[type=local][min],
.flat-input[type=local][pattern],
.flat-input[type=local]:required,
.flat-input:not([type])[minlength],
.flat-input:not([type])[maxlength],
.flat-input:not([type])[max],
.flat-input:not([type])[min],
.flat-input:not([type])[pattern],
.flat-input:not([type]):required {
  border-left: 3px solid;
  border-left-color: #008A00;
  text-indent: 0;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(0,138,0,1)'><path d='M13 26l-10-10.598 2.798-2.859 7.149 7.473 13.144-14.016 2.909 2.806z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1em;
  background-color: #fcfcfc;
  background-position: calc(100% - .5em) 0.5em; }
  .flat-textarea[minlength]:focus:valid, .flat-textarea[maxlength]:focus:valid, .flat-textarea[max]:focus:valid, .flat-textarea[min]:focus:valid, .flat-textarea[pattern]:focus:valid, .flat-textarea:required:focus:valid,
  .flat-input[type=date][minlength]:focus:valid,
  .flat-input[type=date][maxlength]:focus:valid,
  .flat-input[type=date][max]:focus:valid,
  .flat-input[type=date][min]:focus:valid,
  .flat-input[type=date][pattern]:focus:valid,
  .flat-input[type=date]:required:focus:valid,
  .flat-input[type=month][minlength]:focus:valid,
  .flat-input[type=month][maxlength]:focus:valid,
  .flat-input[type=month][max]:focus:valid,
  .flat-input[type=month][min]:focus:valid,
  .flat-input[type=month][pattern]:focus:valid,
  .flat-input[type=month]:required:focus:valid,
  .flat-input[type=week][minlength]:focus:valid,
  .flat-input[type=week][maxlength]:focus:valid,
  .flat-input[type=week][max]:focus:valid,
  .flat-input[type=week][min]:focus:valid,
  .flat-input[type=week][pattern]:focus:valid,
  .flat-input[type=week]:required:focus:valid,
  .flat-input[type=time][minlength]:focus:valid,
  .flat-input[type=time][maxlength]:focus:valid,
  .flat-input[type=time][max]:focus:valid,
  .flat-input[type=time][min]:focus:valid,
  .flat-input[type=time][pattern]:focus:valid,
  .flat-input[type=time]:required:focus:valid,
  .flat-input[type=number][minlength]:focus:valid,
  .flat-input[type=number][maxlength]:focus:valid,
  .flat-input[type=number][max]:focus:valid,
  .flat-input[type=number][min]:focus:valid,
  .flat-input[type=number][pattern]:focus:valid,
  .flat-input[type=number]:required:focus:valid,
  .flat-input[type=tel][minlength]:focus:valid,
  .flat-input[type=tel][maxlength]:focus:valid,
  .flat-input[type=tel][max]:focus:valid,
  .flat-input[type=tel][min]:focus:valid,
  .flat-input[type=tel][pattern]:focus:valid,
  .flat-input[type=tel]:required:focus:valid,
  .flat-input[type=url][minlength]:focus:valid,
  .flat-input[type=url][maxlength]:focus:valid,
  .flat-input[type=url][max]:focus:valid,
  .flat-input[type=url][min]:focus:valid,
  .flat-input[type=url][pattern]:focus:valid,
  .flat-input[type=url]:required:focus:valid,
  .flat-input[type=text][minlength]:focus:valid,
  .flat-input[type=text][maxlength]:focus:valid,
  .flat-input[type=text][max]:focus:valid,
  .flat-input[type=text][min]:focus:valid,
  .flat-input[type=text][pattern]:focus:valid,
  .flat-input[type=text]:required:focus:valid,
  .flat-input[type=search][minlength]:focus:valid,
  .flat-input[type=search][maxlength]:focus:valid,
  .flat-input[type=search][max]:focus:valid,
  .flat-input[type=search][min]:focus:valid,
  .flat-input[type=search][pattern]:focus:valid,
  .flat-input[type=search]:required:focus:valid,
  .flat-input[type=email][minlength]:focus:valid,
  .flat-input[type=email][maxlength]:focus:valid,
  .flat-input[type=email][max]:focus:valid,
  .flat-input[type=email][min]:focus:valid,
  .flat-input[type=email][pattern]:focus:valid,
  .flat-input[type=email]:required:focus:valid,
  .flat-input[type=password][minlength]:focus:valid,
  .flat-input[type=password][maxlength]:focus:valid,
  .flat-input[type=password][max]:focus:valid,
  .flat-input[type=password][min]:focus:valid,
  .flat-input[type=password][pattern]:focus:valid,
  .flat-input[type=password]:required:focus:valid,
  .flat-input[type=local][minlength]:focus:valid,
  .flat-input[type=local][maxlength]:focus:valid,
  .flat-input[type=local][max]:focus:valid,
  .flat-input[type=local][min]:focus:valid,
  .flat-input[type=local][pattern]:focus:valid,
  .flat-input[type=local]:required:focus:valid,
  .flat-input:not([type])[minlength]:focus:valid,
  .flat-input:not([type])[maxlength]:focus:valid,
  .flat-input:not([type])[max]:focus:valid,
  .flat-input:not([type])[min]:focus:valid,
  .flat-input:not([type])[pattern]:focus:valid,
  .flat-input:not([type]):required:focus:valid {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(0,138,0,0.5)'><path d='M13 26l-10-10.598 2.798-2.859 7.149 7.473 13.144-14.016 2.909 2.806z'/></svg>");
    background-repeat: no-repeat;
    background-size: 1em;
    background-color: #fcfcfc;
    background-position: calc(100% - .5em) 0.5em; }
  .flat-textarea[minlength]:focus:invalid, .flat-textarea[maxlength]:focus:invalid, .flat-textarea[max]:focus:invalid, .flat-textarea[min]:focus:invalid, .flat-textarea[pattern]:focus:invalid, .flat-textarea:required:focus:invalid,
  .flat-input[type=date][minlength]:focus:invalid,
  .flat-input[type=date][maxlength]:focus:invalid,
  .flat-input[type=date][max]:focus:invalid,
  .flat-input[type=date][min]:focus:invalid,
  .flat-input[type=date][pattern]:focus:invalid,
  .flat-input[type=date]:required:focus:invalid,
  .flat-input[type=month][minlength]:focus:invalid,
  .flat-input[type=month][maxlength]:focus:invalid,
  .flat-input[type=month][max]:focus:invalid,
  .flat-input[type=month][min]:focus:invalid,
  .flat-input[type=month][pattern]:focus:invalid,
  .flat-input[type=month]:required:focus:invalid,
  .flat-input[type=week][minlength]:focus:invalid,
  .flat-input[type=week][maxlength]:focus:invalid,
  .flat-input[type=week][max]:focus:invalid,
  .flat-input[type=week][min]:focus:invalid,
  .flat-input[type=week][pattern]:focus:invalid,
  .flat-input[type=week]:required:focus:invalid,
  .flat-input[type=time][minlength]:focus:invalid,
  .flat-input[type=time][maxlength]:focus:invalid,
  .flat-input[type=time][max]:focus:invalid,
  .flat-input[type=time][min]:focus:invalid,
  .flat-input[type=time][pattern]:focus:invalid,
  .flat-input[type=time]:required:focus:invalid,
  .flat-input[type=number][minlength]:focus:invalid,
  .flat-input[type=number][maxlength]:focus:invalid,
  .flat-input[type=number][max]:focus:invalid,
  .flat-input[type=number][min]:focus:invalid,
  .flat-input[type=number][pattern]:focus:invalid,
  .flat-input[type=number]:required:focus:invalid,
  .flat-input[type=tel][minlength]:focus:invalid,
  .flat-input[type=tel][maxlength]:focus:invalid,
  .flat-input[type=tel][max]:focus:invalid,
  .flat-input[type=tel][min]:focus:invalid,
  .flat-input[type=tel][pattern]:focus:invalid,
  .flat-input[type=tel]:required:focus:invalid,
  .flat-input[type=url][minlength]:focus:invalid,
  .flat-input[type=url][maxlength]:focus:invalid,
  .flat-input[type=url][max]:focus:invalid,
  .flat-input[type=url][min]:focus:invalid,
  .flat-input[type=url][pattern]:focus:invalid,
  .flat-input[type=url]:required:focus:invalid,
  .flat-input[type=text][minlength]:focus:invalid,
  .flat-input[type=text][maxlength]:focus:invalid,
  .flat-input[type=text][max]:focus:invalid,
  .flat-input[type=text][min]:focus:invalid,
  .flat-input[type=text][pattern]:focus:invalid,
  .flat-input[type=text]:required:focus:invalid,
  .flat-input[type=search][minlength]:focus:invalid,
  .flat-input[type=search][maxlength]:focus:invalid,
  .flat-input[type=search][max]:focus:invalid,
  .flat-input[type=search][min]:focus:invalid,
  .flat-input[type=search][pattern]:focus:invalid,
  .flat-input[type=search]:required:focus:invalid,
  .flat-input[type=email][minlength]:focus:invalid,
  .flat-input[type=email][maxlength]:focus:invalid,
  .flat-input[type=email][max]:focus:invalid,
  .flat-input[type=email][min]:focus:invalid,
  .flat-input[type=email][pattern]:focus:invalid,
  .flat-input[type=email]:required:focus:invalid,
  .flat-input[type=password][minlength]:focus:invalid,
  .flat-input[type=password][maxlength]:focus:invalid,
  .flat-input[type=password][max]:focus:invalid,
  .flat-input[type=password][min]:focus:invalid,
  .flat-input[type=password][pattern]:focus:invalid,
  .flat-input[type=password]:required:focus:invalid,
  .flat-input[type=local][minlength]:focus:invalid,
  .flat-input[type=local][maxlength]:focus:invalid,
  .flat-input[type=local][max]:focus:invalid,
  .flat-input[type=local][min]:focus:invalid,
  .flat-input[type=local][pattern]:focus:invalid,
  .flat-input[type=local]:required:focus:invalid,
  .flat-input:not([type])[minlength]:focus:invalid,
  .flat-input:not([type])[maxlength]:focus:invalid,
  .flat-input:not([type])[max]:focus:invalid,
  .flat-input:not([type])[min]:focus:invalid,
  .flat-input:not([type])[pattern]:focus:invalid,
  .flat-input:not([type]):required:focus:invalid {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='rgba(235,0,0,0.4)' width='32' height='32'><path d='M27 24.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z'/></svg>");
    background-repeat: no-repeat;
    background-size: 1em;
    background-color: #fcfcfc;
    background-position: calc(100% - .5em) 0.5em; }

.flat-textarea:invalid,
.flat-input[type=date]:invalid,
.flat-input[type=month]:invalid,
.flat-input[type=week]:invalid,
.flat-input[type=time]:invalid,
.flat-input[type=number]:invalid,
.flat-input[type=tel]:invalid,
.flat-input[type=url]:invalid,
.flat-input[type=text]:invalid,
.flat-input[type=search]:invalid,
.flat-input[type=email]:invalid,
.flat-input[type=password]:invalid,
.flat-input[type=local]:invalid,
.flat-input:not([type]):invalid {
  border-left: 3px solid;
  border-left-color: #EB0000;
  text-indent: 0;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='rgba(235,0,0,0.6)' width='32' height='32'><path d='M27 24.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1em;
  background-color: #fcfcfc;
  background-position: calc(100% - .5em) 0.5em; }


.flat-input[type=date]:optional,
.flat-input[type=month]:optional,
.flat-input[type=week]:optional,
.flat-input[type=time]:optional,
.flat-input[type=number]:optional,
.flat-input[type=search]:optional {
  background-position: calc(100% - 2em) 0.5em; }


.flat-input[type=date][minlength],
.flat-input[type=date][maxlength],
.flat-input[type=date][max],
.flat-input[type=date][min],
.flat-input[type=date][pattern],
.flat-input[type=date]:required,
.flat-input[type=month][minlength],
.flat-input[type=month][maxlength],
.flat-input[type=month][max],
.flat-input[type=month][min],
.flat-input[type=month][pattern],
.flat-input[type=month]:required,
.flat-input[type=week][minlength],
.flat-input[type=week][maxlength],
.flat-input[type=week][max],
.flat-input[type=week][min],
.flat-input[type=week][pattern],
.flat-input[type=week]:required,
.flat-input[type=time][minlength],
.flat-input[type=time][maxlength],
.flat-input[type=time][max],
.flat-input[type=time][min],
.flat-input[type=time][pattern],
.flat-input[type=time]:required,
.flat-input[type=number][minlength],
.flat-input[type=number][maxlength],
.flat-input[type=number][max],
.flat-input[type=number][min],
.flat-input[type=number][pattern],
.flat-input[type=number]:required,
.flat-input[type=search][minlength],
.flat-input[type=search][maxlength],
.flat-input[type=search][max],
.flat-input[type=search][min],
.flat-input[type=search][pattern],
.flat-input[type=search]:required {
  background-image: none; }
  
  .flat-input[type=date][minlength]:focus:valid,
  .flat-input[type=date][maxlength]:focus:valid,
  .flat-input[type=date][max]:focus:valid,
  .flat-input[type=date][min]:focus:valid,
  .flat-input[type=date][pattern]:focus:valid,
  .flat-input[type=date]:required:focus:valid,
  .flat-input[type=month][minlength]:focus:valid,
  .flat-input[type=month][maxlength]:focus:valid,
  .flat-input[type=month][max]:focus:valid,
  .flat-input[type=month][min]:focus:valid,
  .flat-input[type=month][pattern]:focus:valid,
  .flat-input[type=month]:required:focus:valid,
  .flat-input[type=week][minlength]:focus:valid,
  .flat-input[type=week][maxlength]:focus:valid,
  .flat-input[type=week][max]:focus:valid,
  .flat-input[type=week][min]:focus:valid,
  .flat-input[type=week][pattern]:focus:valid,
  .flat-input[type=week]:required:focus:valid,
  .flat-input[type=time][minlength]:focus:valid,
  .flat-input[type=time][maxlength]:focus:valid,
  .flat-input[type=time][max]:focus:valid,
  .flat-input[type=time][min]:focus:valid,
  .flat-input[type=time][pattern]:focus:valid,
  .flat-input[type=time]:required:focus:valid,
  .flat-input[type=number][minlength]:focus:valid,
  .flat-input[type=number][maxlength]:focus:valid,
  .flat-input[type=number][max]:focus:valid,
  .flat-input[type=number][min]:focus:valid,
  .flat-input[type=number][pattern]:focus:valid,
  .flat-input[type=number]:required:focus:valid,
  .flat-input[type=search][minlength]:focus:valid,
  .flat-input[type=search][maxlength]:focus:valid,
  .flat-input[type=search][max]:focus:valid,
  .flat-input[type=search][min]:focus:valid,
  .flat-input[type=search][pattern]:focus:valid,
  .flat-input[type=search]:required:focus:valid {
    background-image: none; }
  
  .flat-input[type=date][minlength]:focus:invalid,
  .flat-input[type=date][maxlength]:focus:invalid,
  .flat-input[type=date][max]:focus:invalid,
  .flat-input[type=date][min]:focus:invalid,
  .flat-input[type=date][pattern]:focus:invalid,
  .flat-input[type=date]:required:focus:invalid,
  .flat-input[type=month][minlength]:focus:invalid,
  .flat-input[type=month][maxlength]:focus:invalid,
  .flat-input[type=month][max]:focus:invalid,
  .flat-input[type=month][min]:focus:invalid,
  .flat-input[type=month][pattern]:focus:invalid,
  .flat-input[type=month]:required:focus:invalid,
  .flat-input[type=week][minlength]:focus:invalid,
  .flat-input[type=week][maxlength]:focus:invalid,
  .flat-input[type=week][max]:focus:invalid,
  .flat-input[type=week][min]:focus:invalid,
  .flat-input[type=week][pattern]:focus:invalid,
  .flat-input[type=week]:required:focus:invalid,
  .flat-input[type=time][minlength]:focus:invalid,
  .flat-input[type=time][maxlength]:focus:invalid,
  .flat-input[type=time][max]:focus:invalid,
  .flat-input[type=time][min]:focus:invalid,
  .flat-input[type=time][pattern]:focus:invalid,
  .flat-input[type=time]:required:focus:invalid,
  .flat-input[type=number][minlength]:focus:invalid,
  .flat-input[type=number][maxlength]:focus:invalid,
  .flat-input[type=number][max]:focus:invalid,
  .flat-input[type=number][min]:focus:invalid,
  .flat-input[type=number][pattern]:focus:invalid,
  .flat-input[type=number]:required:focus:invalid,
  .flat-input[type=search][minlength]:focus:invalid,
  .flat-input[type=search][maxlength]:focus:invalid,
  .flat-input[type=search][max]:focus:invalid,
  .flat-input[type=search][min]:focus:invalid,
  .flat-input[type=search][pattern]:focus:invalid,
  .flat-input[type=search]:required:focus:invalid {
    background-image: none; }


.flat-input[type=date]:invalid,
.flat-input[type=month]:invalid,
.flat-input[type=week]:invalid,
.flat-input[type=time]:invalid,
.flat-input[type=number]:invalid,
.flat-input[type=search]:invalid {
  background-image: none; }


.flat-textarea,
.flat-input[type=text],
.flat-input[type=search],
.flat-input[type=range],
.flat-input[type=tel],
.flat-input[type=url],
.flat-input[type=color],
.flat-input[type=email],
.flat-input[type=password],
.flat-input[type=local],
.flat-input[type=month],
.flat-input[type=week],
.flat-input[type=date],
.flat-input:not([type]) {
  width: 12em; }


.flat-input[type=time],
.flat-input[type=number] {
  width: 6em; }


.flat-input[type=file] {
  border: none;
  padding: 0; }

.flat-input[type=image] {
  max-width: 100%;
  height: auto;
  cursor: default; }
  .flat-input[type=image]:focus, .flat-input[type=image]:active, .flat-input[type=image]:hover:not([disabled]) {
    -webkit-filter: brightness(110%);
            filter: brightness(110%); }
  .flat-input[type=image][disabled] {
    -webkit-filter: grayscale(85%);
            filter: grayscale(85%); }


.flat-output {
  background-color: #eed; }


.flat-textarea {
  display: block;
  height: 6em; }


.flat-input[type=submit],
.flat-input[type=reset],
.flat-input[type=button],
.flat-button {
  text-decoration: none;
  border-style: none;
  background-color: #eee;
  color: #111;
  padding: 0 0.9em; }
  .flat-input[type=submit]:focus, .flat-input[type=submit]:active, .flat-input[type=submit]:hover:not([disabled]),
  .flat-input[type=reset]:focus,
  .flat-input[type=reset]:active,
  .flat-input[type=reset]:hover:not([disabled]),
  .flat-input[type=button]:focus,
  .flat-input[type=button]:active,
  .flat-input[type=button]:hover:not([disabled]),
  .flat-button:focus,
  .flat-button:active,
  .flat-button:hover:not([disabled]) {
    -webkit-filter: brightness(95%);
            filter: brightness(95%);
    text-decoration: none;
    cursor: default; }

.flat-input[type=button][disabled],
.flat-button[disabled] {
  background-color: #e0e0e0;
  color: #606060; }

button.flat-button:not([type]):not(.flat-standard):not(.flat-negative),
.flat-button[type=submit]:not(.flat-standard):not(.flat-negative),
.flat-input[type=submit]:not(.flat-standard):not(.flat-negative),
.flat-button.flat-primary,
.flat-button.flat-primary[type=reset],
.flat-input.flat-primary[type=reset],
.flat-input.flat-primary[type=button] {
  background-color: #0074d9;
  color: #fff; }
  button.flat-button:not([type]):not(.flat-standard):not(.flat-negative)[disabled],
  .flat-button[type=submit]:not(.flat-standard):not(.flat-negative)[disabled],
  .flat-input[type=submit]:not(.flat-standard):not(.flat-negative)[disabled],
  .flat-button.flat-primary[disabled],
  .flat-button.flat-primary[type=reset][disabled],
  .flat-input.flat-primary[type=reset][disabled],
  .flat-input.flat-primary[type=button][disabled] {
    background-color: #7597b4;
    color: #eaeaea; }
  button.flat-button:not([type]):not(.flat-standard):not(.flat-negative):focus, button.flat-button:not([type]):not(.flat-standard):not(.flat-negative):active, button.flat-button:not([type]):not(.flat-standard):not(.flat-negative):hover:not([disabled]),
  .flat-button[type=submit]:not(.flat-standard):not(.flat-negative):focus,
  .flat-button[type=submit]:not(.flat-standard):not(.flat-negative):active,
  .flat-button[type=submit]:not(.flat-standard):not(.flat-negative):hover:not([disabled]),
  .flat-input[type=submit]:not(.flat-standard):not(.flat-negative):focus,
  .flat-input[type=submit]:not(.flat-standard):not(.flat-negative):active,
  .flat-input[type=submit]:not(.flat-standard):not(.flat-negative):hover:not([disabled]),
  .flat-button.flat-primary:focus,
  .flat-button.flat-primary:active,
  .flat-button.flat-primary:hover:not([disabled]),
  .flat-button.flat-primary[type=reset]:focus,
  .flat-button.flat-primary[type=reset]:active,
  .flat-button.flat-primary[type=reset]:hover:not([disabled]),
  .flat-input.flat-primary[type=reset]:focus,
  .flat-input.flat-primary[type=reset]:active,
  .flat-input.flat-primary[type=reset]:hover:not([disabled]),
  .flat-input.flat-primary[type=button]:focus,
  .flat-input.flat-primary[type=button]:active,
  .flat-input.flat-primary[type=button]:hover:not([disabled]) {
    -webkit-filter: brightness(130%);
            filter: brightness(130%); }

.flat-button[type=reset]:not(.flat-standard):not(.flat-primary),
.flat-input[type=reset]:not(.flat-standard):not(.flat-primary),
.flat-button.flat-negative,
.flat-input.flat-negative[type=submit],
.flat-input.flat-negative[type=button] {
  background-color: #D64300;
  color: #fff; }
  .flat-button[type=reset]:not(.flat-standard):not(.flat-primary)[disabled],
  .flat-input[type=reset]:not(.flat-standard):not(.flat-primary)[disabled],
  .flat-button.flat-negative[disabled],
  .flat-input.flat-negative[type=submit][disabled],
  .flat-input.flat-negative[type=button][disabled] {
    background-color: #b38875;
    color: #eaeaea; }
  .flat-button[type=reset]:not(.flat-standard):not(.flat-primary):focus, .flat-button[type=reset]:not(.flat-standard):not(.flat-primary):active, .flat-button[type=reset]:not(.flat-standard):not(.flat-primary):hover:not([disabled]),
  .flat-input[type=reset]:not(.flat-standard):not(.flat-primary):focus,
  .flat-input[type=reset]:not(.flat-standard):not(.flat-primary):active,
  .flat-input[type=reset]:not(.flat-standard):not(.flat-primary):hover:not([disabled]),
  .flat-button.flat-negative:focus,
  .flat-button.flat-negative:active,
  .flat-button.flat-negative:hover:not([disabled]),
  .flat-input.flat-negative[type=submit]:focus,
  .flat-input.flat-negative[type=submit]:active,
  .flat-input.flat-negative[type=submit]:hover:not([disabled]),
  .flat-input.flat-negative[type=button]:focus,
  .flat-input.flat-negative[type=button]:active,
  .flat-input.flat-negative[type=button]:hover:not([disabled]) {
    -webkit-filter: brightness(130%);
            filter: brightness(130%); }


.flat-input.flat-button[type=reset],
.flat-input.flat-button[type=submit] {
  background-color: #eee;
  color: #111; }
  
  .flat-input.flat-button[type=reset][disabled],
  .flat-input.flat-button[type=submit][disabled] {
    background-color: #e0e0e0;
    color: #606060; }
  
  .flat-input.flat-button[type=reset]:focus,
  .flat-input.flat-button[type=reset]:active,
  .flat-input.flat-button[type=reset]:hover:not([disabled]),
  .flat-input.flat-button[type=submit]:focus,
  .flat-input.flat-button[type=submit]:active,
  .flat-input.flat-button[type=submit]:hover:not([disabled]) {
    -webkit-filter: brightness(95%);
            filter: brightness(95%); }


.flat-input[type=checkbox],
.flat-input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  line-height: 0;
  border: 0;
  position: relative;
  top: -0.125em; }
  .flat-input[type=checkbox]:before,
  .flat-input[type=radio]:before {
    position: absolute;
    content: ' ';
    background-color: #fcfcfc;
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    overflow: hidden;
    border: 1px solid #ccc; }
  .flat-input[type=checkbox]:hover:not([disabled]):before,
  .flat-input[type=radio]:hover:not([disabled]):before {
    -webkit-filter: brightness(95%);
            filter: brightness(95%); }
  .flat-input[type=checkbox][disabled]:before,
  .flat-input[type=radio][disabled]:before {
    background-color: #e8e8e8; }
  .flat-input[type=checkbox][readonly]:before,
  .flat-input[type=radio][readonly]:before {
    background-color: #f0f0f0; }

.flat-input[type=checkbox]::before {
  background-position: 50% 50%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(17,17,17,0)'><path d='M13 26l-10-10.598 2.798-2.859 7.149 7.473 13.144-14.016 2.909 2.806z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1em; }

.flat-input[type=checkbox]:required:before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='rgba(235,0,0,0.6)' width='32' height='32'><path d='M27 24.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1em; }

.flat-input[type=checkbox]:checked::before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(17,17,17,1)'><path d='M13 26l-10-10.598 2.798-2.859 7.149 7.473 13.144-14.016 2.909 2.806z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1em; }

.flat-input[type=checkbox]:required:checked::before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(0,138,0,1)'><path d='M13 26l-10-10.598 2.798-2.859 7.149 7.473 13.144-14.016 2.909 2.806z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1em; }

.flat-input[type=checkbox][disabled]:before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(96,96,96,1)'><path d='M13 26l-10-10.598 2.798-2.859 7.149 7.473 13.144-14.016 2.909 2.806z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1em; }

.flat-input[type=checkbox][disabled]:required:before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(106,146,106,1)'><path d='M13 26l-10-10.598 2.798-2.859 7.149 7.473 13.144-14.016 2.909 2.806z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1em; }

.flat-input[type=checkbox][readonly]:required:before {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(77,129,77,1)'><path d='M13 26l-10-10.598 2.798-2.859 7.149 7.473 13.144-14.016 2.909 2.806z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1em; }


.flat-input[type=radio] {
  border-radius: 50%; }
  .flat-input[type=radio]::before {
    border-radius: 50%;
    background-position: 50% 50%;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(17,17,17,0)'><circle cx='15.5' cy='15.5' r='14'/></svg>");
    background-repeat: no-repeat;
    background-size: 1em; }
  .flat-input[type=radio]:checked::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(17,17,17,1)'><circle cx='15.5' cy='15.5' r='14'/></svg>");
    background-repeat: no-repeat;
    background-size: 1em; }
  .flat-input[type=radio]:required:checked:before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(0,138,0,1)'><circle cx='15.5' cy='15.5' r='14'/></svg>");
    background-repeat: no-repeat;
    background-size: 1em; }
  
  .flat-input[type=radio][disabled]:before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(96,96,96,1)'><circle cx='15.5' cy='15.5' r='14'/></svg>");
    background-repeat: no-repeat;
    background-size: 1em; }
  .flat-input[type=radio][disabled]:required:before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(106,146,106,1)'><circle cx='15.5' cy='15.5' r='14'/></svg>");
    background-repeat: no-repeat;
    background-size: 1em; }
  .flat-input[type=radio][readonly]:required:before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(77,129,77,1)'><circle cx='15.5' cy='15.5' r='14'/></svg>");
    background-repeat: no-repeat;
    background-size: 1em; }


.flat-input[type=color] {
  -webkit-appearance: none;
  padding: 5px;
  width: 1.875em;
  height: 1.875em;
  background-color: #fcfcfc; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    
    .flat-input[type=color] {
      padding: 1px 3px; } }
  
  .flat-input[type=color][disabled] {
    background-color: #e8e8e8; }
  
  .flat-input[type=color][readonly] {
    background-color: #f0f0f0; }
  .flat-input[type=color]:focus, .flat-input[type=color]:hover:not([disabled]):not([readonly]) {
    -webkit-filter: brightness(95%);
            filter: brightness(95%); }


.flat-input[type=range] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 2em;
  width: 12em;
  background-color: #fcfcfc; }
  
  .flat-input[type=range][disabled],
  .flat-input[type=range][readonly] {
    opacity: .5; }
  .flat-input[type=range]:active::-webkit-slider-thumb, .flat-input[type=range]:hover:not([disabled])::-webkit-slider-thumb {
    -webkit-filter: brightness(130%);
            filter: brightness(130%); }
  .flat-input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #0074d9;
    height: 1.5em;
    width: 1.5em; }
  .flat-input[type=range]::-moz-range-track {
    background-color: transparent;
    border: none; }
  .flat-input[type=range]:active::-moz-range-thumb, .flat-input[type=range]:hover:not([disabled])::-moz-range-thumb {
    filter: brightness(110%); }
  .flat-input[type=range]::-moz-range-thumb {
    background-color: #0074d9;
    border: none;
    height: 1.5em;
    width: 1.5em; }
  .flat-input[type=range]::-ms-track {
    background-color: transparent;
    border: none;
    color: transparent; }
  .flat-input[type=range]:active::-ms-thumb, .flat-input[type=range]:hover:not([disabled])::-ms-thumb {
    filter: brightness(110%); }
  .flat-input[type=range]::-ms-thumb {
    appearance: none;
    background-color: #0074d9;
    height: 1.2em;
    width: 1.2em; }
  .flat-input[type=range]::-ms-fill-lower {
    background-color: transparent;
    border: none; }
  .flat-input[type=range]::-ms-fill-upper {
    background-color: transparent;
    border: none; }


.flat-progress {
  width: 12em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  color: #0074d9; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    
    .flat-progress {
      border: none; } }
  .flat-progress[value]::-moz-progress-bar {
    background-color: #0074d9; }
  .flat-progress[value]::-webkit-progress-bar {
    background-color: #fcfcfc;
    border: 1px solid #ccc; }
  .flat-progress[value]::-webkit-progress-value {
    background-color: #0074d9; }


.flat-meter {
  -webkit-appearance: meter;
  border: 0;
  padding: 0px;
  border-radius: 0;
  background-color: #ccc;
  width: 12em; }

.flat-select {
  border-style: none;
  background-color: #eee;
  color: #111;
  padding: 0 0.9em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='rgba(0,0,0,0.5)'><path d='M4 10l 0 0 24 0 -12 12z'/></svg>");
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: calc(100% - .5em) 50%;
  background-repeat: no-repeat;
  background-color: #eee;
  padding-right: 2em;
  border-left: 3px solid;
  border-left-color: transparent;
  text-indent: 0; }
  .flat-select:active, .flat-select:hover:not([disabled]) {
    -webkit-filter: brightness(95%);
            filter: brightness(95%); }
  .flat-select[disabled] {
    background-color: #e0e0e0;
    color: #606060; }
  .flat-select:required {
    border-left: 3px solid;
    border-left-color: #008A00;
    text-indent: 0; }
  .flat-select:invalid {
    border-left: 3px solid;
    border-left-color: #EB0000;
    text-indent: 0; }

.flat-input[type=file]::-webkit-file-upload-button {
  border-style: none;
  background-color: #eee;
  color: #111;
  padding: 0 0.9em;
  position: relative;
  border-left: 3px solid;
  border-left-color: transparent;
  text-indent: 0; }

.flat-input[type=file]:active::-webkit-file-upload-button, .flat-input[type=file]:hover:not([disabled])::-webkit-file-upload-button {
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
  text-decoration: none;
  cursor: default; }

.flat-input[type=file][disabled]::-webkit-file-upload-button {
  cursor: not-allowed;
  background-color: #e0e0e0;
  color: #606060; }

.flat-input[type=file]:required::-webkit-file-upload-button {
  border-left: 3px solid;
  border-left-color: #008A00;
  text-indent: 0; }

.flat-input[type=file]:invalid::-webkit-file-upload-button {
  border-left: 3px solid;
  border-left-color: #EB0000;
  text-indent: 0; }

/* _general-styling.scss */
.flat-html {
  font-size: 16px; }

.flat-body {
  line-height: 1.6em;
  background-color: #fff;
  color: #111; }

.flat-h1 {
  font-size: 2em;
  line-height: 1.2em; }

.flat-h2 {
  font-size: 1.5em;
  line-height: 1.2em; }

.flat-h3 {
  font-size: 1.17em;
  line-height: 1.2em; }

.flat-h4 {
  font-size: 1em;
  line-height: 1.2em; }

.flat-h5 {
  font-size: 0.83em;
  line-height: 1.2em; }

.flat-h6 {
  font-size: 0.67em;
  line-height: 1.2em; }

.flat-p, .flat-pre, .flat-address, .flat-blockquote {
  margin: 1em 0; }

.flat-pre {
  padding: 1em 1.5em;
  background-color: #eed;
  overflow-x: auto; }
  .flat-pre .flat-code {
    padding: 0; }

.flat-blockquote, .flat-address {
  padding: 1em 1.5em;
  font-style: italic; }

.flat-ul, .flat-ol {
  margin: 1em 0;
  padding-left: 3em; }

.flat-dl {
  margin: 1em 0; }

.flat-dt, .flat-dd {
  margin: 1em 0;
  padding-left: 1.5em; }
  .flat-dt + .flat-dd, .flat-dd + .flat-dd {
    margin-top: -1em; }

.flat-dt {
  font-weight: bold; }

.flat-figure {
  margin: 1em 0;
  border: 1px solid #ccc;
  padding: 1em; }

.flat-figcaption {
  font-style: italic; }

.flat-hr {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-width: 0 0 1px 0; }

.flat-q {
  font-style: italic; }

.flat-del {
  color: #EB0000; }

.flat-ins {
  color: #008A00; }

.flat-code, .flat-var, .flat-samp, .flat-kbd, .flat-tt {
  padding: 0.1em 0.3em;
  background-color: #eed; }

.flat-samp, .flat-kbd, .flat-var {
  background-color: #9cf; }

.flat-mark {
  padding: 0.1em 0.3em;
  background-color: #ff0; }

.flat-table {
  margin: 1em 0;
  background-color: #f2f2f2; }

.flat-caption {
  margin-bottom: 0.5em; }

.flat-td,
.flat-th {
  padding: 0.3em 0.9em;
  vertical-align: top; }

.flat-tr:nth-child(odd) {
  background-color: #fff; }


.flat-th {
  background-color: #ddd;
  color: #000;
  text-align: left; }

.flat-img, .flat-picture, .flat-canvas, .flat-video, .flat-object, .flat-embed, .flat-iframe {
  max-width: 100%;
  height: auto; }

.flat-a {
  display: inline-block; }
  .flat-a > .flat-img:focus, .flat-a > .flat-img:active, .flat-a > .flat-img:hover:not([disabled]),
  .flat-a > .flat-canvas:focus,
  .flat-a > .flat-canvas:active,
  .flat-a > .flat-canvas:hover:not([disabled]),
  .flat-a > .flat-picture:focus,
  .flat-a > .flat-picture:active,
  .flat-a > .flat-picture:hover:not([disabled]) {
    -webkit-filter: brightness(110%);
            filter: brightness(110%); }

.flat-iframe {
  border: none; }

.flat-audio {
  max-width: 100%; }

.flat-noscript {
  margin: 1em 0; }

.flat-fieldset {
  margin: 1em 0;
  border-style: none;
  padding: 0;
  padding-top: 1em; }

.flat-legend {
  padding: 0; }

.flat-details {
  margin: 1em 0; }

.flat-summary {
  margin: 1em 0; }

/* _theme.scss */
.flat-a {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #0074d9;
  text-decoration: none; }
  .flat-a:active, .flat-a:hover {
    text-decoration: underline; }
  .flat-a:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 4px rgba(0, 116, 217, 0.5);
            box-shadow: 0 0 0 4px rgba(0, 116, 217, 0.5);
    z-index: 1; }
    @supports (-ms-ime-align: auto) {
      .flat-a:focus {
        -webkit-box-shadow: none;
                box-shadow: none;
        outline: 4px solid rgba(0, 116, 217, 0.5); } }


.flat-input[type=submit],
.flat-input[type=reset],
.flat-input[type=button], .flat-select,
.flat-button {
  border-radius: 0.33333em;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3); }
  .flat-input[type=submit]:focus,
  .flat-input[type=reset]:focus,
  .flat-input[type=button]:focus,
  .flat-select:focus,
  .flat-button:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 4px rgba(0, 116, 217, 0.5);
            box-shadow: 0 0 0 4px rgba(0, 116, 217, 0.5);
    z-index: 1; }
    @supports (-ms-ime-align: auto) {
      .flat-input[type=submit]:focus,
      .flat-input[type=reset]:focus,
      .flat-input[type=button]:focus,
      .flat-select:focus,
      .flat-button:focus {
        -webkit-box-shadow: none;
                box-shadow: none;
        outline: 4px solid rgba(0, 116, 217, 0.5); } }

.flat-label.flat-button:focus-within {
  outline: none;
  -webkit-box-shadow: 0 0 0 4px rgba(0, 116, 217, 0.5);
          box-shadow: 0 0 0 4px rgba(0, 116, 217, 0.5);
  z-index: 1;
  -webkit-filter: brightness(95%);
          filter: brightness(95%); }
  @supports (-ms-ime-align: auto) {
    .flat-label.flat-button:focus-within {
      -webkit-box-shadow: none;
              box-shadow: none;
      outline: 4px solid rgba(0, 116, 217, 0.5); } }

.flat-input[type=file]::-webkit-file-upload-button {
  border-radius: 0.33333em;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  background-color: #eee;
  color: #111; }

.flat-input[type=file]:focus::-webkit-file-upload-button {
  -webkit-filter: brightness(95%);
          filter: brightness(95%); }

.flat-input[type=range]::-webkit-slider-thumb {
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 0.33333em;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3); }

.flat-input[type=range]::-moz-range-thumb {
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 0.33333em;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3); }

.flat-input[type=range]::-ms-thumb {
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 0.33333em;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3); }


.flat-output,
.flat-meter,
.flat-textarea,
.flat-input:not([type]),
.flat-input[type=text],
.flat-input[type=search],
.flat-input[type=range],
.flat-input[type=tel],
.flat-input[type=url],
.flat-input[type=color],
.flat-input[type=email],
.flat-input[type=password],
.flat-input[type=date],
.flat-input[type=month],
.flat-input[type=week],
.flat-input[type=time],
.flat-input[type=local],
.flat-input[type=number],
.flat-input[type=file] {
  border-radius: 0.33333em;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .flat-output:focus,
  .flat-meter:focus,
  .flat-textarea:focus,
  .flat-input:not([type]):focus,
  .flat-input[type=text]:focus,
  .flat-input[type=search]:focus,
  .flat-input[type=range]:focus,
  .flat-input[type=tel]:focus,
  .flat-input[type=url]:focus, .flat-input[type=color]:focus,
  .flat-input[type=email]:focus,
  .flat-input[type=password]:focus,
  .flat-input[type=date]:focus,
  .flat-input[type=month]:focus,
  .flat-input[type=week]:focus,
  .flat-input[type=time]:focus,
  .flat-input[type=local]:focus,
  .flat-input[type=number]:focus,
  .flat-input[type=file]:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 4px rgba(0, 116, 217, 0.5);
            box-shadow: 0 0 0 4px rgba(0, 116, 217, 0.5);
    z-index: 1; }
    @supports (-ms-ime-align: auto) {
      .flat-output:focus,
      .flat-meter:focus,
      .flat-textarea:focus,
      .flat-input:not([type]):focus,
      .flat-input[type=text]:focus,
      .flat-input[type=search]:focus,
      .flat-input[type=range]:focus,
      .flat-input[type=tel]:focus,
      .flat-input[type=url]:focus, .flat-input[type=color]:focus,
      .flat-input[type=email]:focus,
      .flat-input[type=password]:focus,
      .flat-input[type=date]:focus,
      .flat-input[type=month]:focus,
      .flat-input[type=week]:focus,
      .flat-input[type=time]:focus,
      .flat-input[type=local]:focus,
      .flat-input[type=number]:focus,
      .flat-input[type=file]:focus {
        -webkit-box-shadow: none;
                box-shadow: none;
        outline: 4px solid rgba(0, 116, 217, 0.5); } }

.flat-input[type=image],
.flat-input[type=color] {
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3); }


.flat-input[type=checkbox],
.flat-input[type=radio], .flat-input[type=image] {
  -webkit-transition: all .3s;
  transition: all .3s; }
  .flat-input[type=checkbox]:focus,
  .flat-input[type=radio]:focus, .flat-input[type=image]:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 4px rgba(0, 116, 217, 0.5);
            box-shadow: 0 0 0 4px rgba(0, 116, 217, 0.5);
    z-index: 1; }
    @supports (-ms-ime-align: auto) {
      .flat-input[type=checkbox]:focus,
      .flat-input[type=radio]:focus, .flat-input[type=image]:focus {
        -webkit-box-shadow: none;
                box-shadow: none;
        outline: 4px solid rgba(0, 116, 217, 0.5); } }

.flat-input[type=checkbox]:before,
.flat-input[type=checkbox]:after,
.flat-input[type=radio]:before,
.flat-input[type=radio]:after {
  -webkit-transition: all .3s;
  transition: all .3s; }

.flat-progress[value]::-moz-progress-bar {
  border-radius: 0.33333em; }

.flat-progress[value]::-webkit-progress-bar {
  border-radius: 0.33333em; }

.flat-progress[value]::-webkit-progress-value {
  border-radius: 0.33333em; }

.flat-input[type=image][value]::-moz-progress-bar {
  -webkit-transition: all .3s;
  transition: all .3s; }

.flat-input[type=image][value]::-webkit-progress-bar {
  -webkit-transition: all .3s;
  transition: all .3s; }

.flat-pre, .flat-code, .flat-var, .flat-samp, .flat-kbd, .flat-tt, .flat-mark {
  border-radius: 0.33333em; }

.flat-figure {
  border-radius: 0.33333em;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3); }

.flat-figcaption {
  margin-bottom: 1em; }

.flat-blockquote, .flat-address {
  font-style: italic; }

.flat-body {
  background-color: #fff;
  color: #111;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  max-width: 960px;
  margin: auto;
  padding: 3em 3%; }

.flat-fieldset {
  border-radius: 0.33333em;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  padding: 1em;
  border: 1px solid #ccc; }

.flat-legend {
  border-radius: 0.33333em;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0.1em 0.3em; }

.flat-table {
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.12); }


.flat-th {
  background-color: #d9edff; }

/* _classes.scss */

